html {
    box-sizing: border-box;
    font-size: 16px;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

body{
    float: none;
}

.container{
    border: 5px solid rebeccapurple;
    height: 80px;
    display:inline-block;
}
.box {
    color:white;
    border: 5px solid rgb(165, 226, 43);
    padding-top: 13px;
    padding-left: 10px;
    padding-right: 20px;
    margin-top: -15px;
    margin-right: -15px;
    margin-bottom: 15px;
    margin-left: 15px;
    height: 70px;
    padding-top: 20px;
    display:flex;
    background: rgb(17,36,0);
background: radial-gradient(circle, rgba(17,36,0,1) 5%, rgba(86,247,80,1) 35%, rgba(60,21,52,1) 68%, rgba(0,255,247,0.19691873331363796) 100%);
  }
   
  .links-list a {
    background-image: linear-gradient( 179.4deg,  rgba(132,56,122,1) 14.6%, rgba(190,24,49,1) 104.7% );
   
    color: #fff;
    font-size: 16pt;
    text-decoration: none;
    padding: 10pt;
    margin:5pt;
  display: inline-block;
  width: 90pt;
  border-radius: 30% 30% 10% 30%;
  
  
  }
  
  .links-list a:hover {
    background-image: linear-gradient( 99deg,  rgba(115,18,81,1) 10.6%, rgba(28,28,28,1) 118% );
    color: #fff;
  }
      
 